.user-repositories-wrapper {
    width: 877px;
    height: 112px;
    display: flex;
    flex-direction: column;
}

.user-repositories-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: var(--primary-black);
    margin-bottom: 29px;
}

.user-repositories-element {
    background-color: var(--primary-white);
    margin-bottom: 24px;
    padding: 24px 32px;
}

.user-repositories-element-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-blue);
    margin-bottom: 16px;
}

.user-repositories-element-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-black);
}

.repositories-pagination {
    display: flex;
    justify-content: end;
    align-items: center;
}

.repositories-pagination-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--primary-gray-dark);
    margin-right: 16px;
}

.repositories-pagination-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 16px;
}

.repositories-pagination-button-icon {
    transform: rotate(180deg);
    color: var(--primary-gray-dark);
}

.button-reverse {
    transform: rotate(0);
    color: var(--primary-gray-dark);
}